[submodule "test_lib_a"]
	path = test_lib_a
	url = https://github.com/eesctc/test_lib_a.git
[submodule "test_lib_b"]
	path = test_lib_b
	url = https://github.com/eesctc/test_lib_b.git
[submodule "test_infrastructure"]
	path = test_infrastructure
	url = https://github.com/eesctc/test_infrastructure.git
